/* custom styles */
/*network styles are defined in options.js*/

html {
    font-family: 'Roboto', sans-serif;
    /*font-family:  monospace;*/
    /*text-transform: uppercase;*/
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
}

h2 {
    display: flex;
    width: 100%;
    height: 4rem;
    margin: 0px;
    padding: 10px;
    align-items: center;
    font-size: 1.5rem;
    background-color: #222;
    color: white;
  }
/*
h3 {
    background-color:#222;
    height: 30px;
    padding: 10px;
    margin-top: 0px;
    color: white;
}
*/
label {
    height: inherit;
    white-space: nowrap;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
}

div {
    display: block;
    box-sizing: border-box;
}

.flex-container {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    width: 100%;
    height: calc(100% - 4rem);
    display: flex;
}

.flex-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 1300px;
    padding: 5px;
    flex-shrink: 0;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
}

.option-list{
    width: 96%;
    display: flex;
    margin: auto;
    margin-top: 10%;
    flex-direction: column;
    justify-content: flex-start;
}

.control-section {
    display: flex;
    flex-basis: content;
    flex-direction: column;
    background: white;
    border: thin solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    padding: 5px 5px;
    margin-bottom: 5px;
}

.control-option{
    display: flex;
    flex-shrink: 2;
    margin-top: inherit;
    margin-bottom: inherit;
    /*this used to be 40*/
    min-height: 20px;
    vertical-align: middle;
    align-items: center;
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

/*
.button2 {
    width: 20%; 
    height: 40px; 
    margin: 10px; 
    padding: 10px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    
}
*/

.button{
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 0em;
    font-family: inherit;
    font-size: inherit;
}

.noUi-connect {
    background: lightgrey;
}

.slider{
    height: 20px;
    width: 300px;
    margin-left: 0px;
    margin-right: 10px;
}

.input-box {
    display: block;
    text-align: center;
    /*width: 495px;*/
    /*height: 25px;*/
    width: 50px;
    /*width: 20%; */
    height: 40px; 
    margin: 3px;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    /*font-size: 20px;*/
} 

.flashes{
    background-color: white;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    width: 800px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#upload{
    margin-top: 20px;
}

#select-files{
    font-size: inherit;
    /*font-size: 20px;*/
}

#select-files input[type=file] {
    display:none;
  }

#select-button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    margin-left: 30px;
}
  
#submit{
    font-size: inherit;
    /*font-size: 20px;*/
}

#export-button{
    font-family: inherit;
    font-size: inherit;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 0px;
    /*font-size: 20px;*/
}

#control-section{
    background: white;
    border: thin solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    cursor: pointer;
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    padding: 5px 10px;
    margin: 20px;
}

/*unused*/
/*#vis-config {
    font-size: 18px;
    font-style: normal;
    background: transparent;
}

div.vis-configuration {
    font-size: 18px;
    font-variant: normal;
    font-style: normal;
}

#vis-config > div > div {
    background: transparent;
    font-style: normal;
}

#vis-config > div > div:nth-child(2) > div > i > b {
    font-style: normal;
}

#vis-config > div > div:nth-child(5) > div > i > b {
    font-style: normal;
}

div.vis-configuration.vis-config-item {
    width: 700px;
}

div.vis-configuration.vis-config-label.vis-config-s3{
    width: 150px;
    font-style: normal;
}

div.vis-configuration.vis-config-label.vis-config-s4{
    width: 150px;
}
*/
.button:hover {
        background: lightgrey;
}

.upload-option {
    display: flex;
} 

.upload-item {
    flex-direction: column;
    height: 90px;
    padding: 10px;
    color: #222;
}
/*
body {
    background-color:#dfdfdf;
    padding: 0px;
  }
*/
.Select-control {
    display: block;
    float: left;
    /*width: 495px;*/
    /*height: 25px;*/
    min-width: 30%;
    /*width: 20%; */
    height: 40px; 
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; 
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    /*font-size: 20px;*/
}

#canvas {
    vertical-align: top;
}

#controls {
    width: 30rem;
    min-width: 20vw;
    margin-left: 0;
    margin-right: 2px;
    align-items: top;
}

#network {
    flex-grow: 1;
    width: calc(100% - 30rem);
}

.center-aligned-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%
} 

/*
.showcase-button {
    background: white;
    border: thin solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 10px;
}  
*/

.appClass {
    background: transparent;
}
