{% extends "layout.html" %}
{% block body %}
<div class='option-list'  id='upload'>
    <p>Select nodes and edge files</p>  
    <div class='upload-option'>
        <div class='upload-item'>
            <form id='select-files' method=post enctype=multipart/form-data>
                <div id='select-files'>
                    <label>
                        <input id='select-files' type='file' name='file' multiple>
                        <span class="button">Choose files</span>
                    </label>
                </div>
        </div>
        <div class='upload-item'>
            <input id='submit' class='button' type=submit value=Submit>
        </div>
    </div>
    <div class='container' id="error">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class='flashes'>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</div>
    
    </form>
    <script type="text/javascript">
        var input = document.querySelector('input');
        var files = input.FileList
    </script>
</div>
{% endblock %}